*{
    margin: 0;
}


body{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}
.calculadora{
    margin-top: 40px;
    border: solid 1px #848181;
    padding: 20px;
    background-color: rgb(91, 89, 89);
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
}

.section{
    padding: 0px 20px;
    padding-bottom: 10px;
}
 
.resultado{
    text-align: right;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    border: solid 1px #000;
    box-shadow: 1px 1px 1px #000;
}

.linha{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.btn{
    background-color: #000;
    width: 60px;
    height: 50px;
    margin: 5px;
    box-shadow: 1px 1px 1px #000;
    cursor: pointer;
}

.enter {
    height: 110px;
}

.reset,.zero{
    width: 130px;
}